<%- include ('../partials/header') %>
    <title>Ridez</title>
</head>
<body>
    <%- include ('../partials/admin-nav') %>
    <h1>Ridez-Admin-Dashboard page</h1>
    <div style="background-color: #ffb302;">i</div>
    <div style="background-color: #ffba01;">i</div>
    <div style="background-color: #fec300;">i</div>
    <div style="background-color: #ffcf00;">i</div>
    <div style="background-color: #fed901;">i</div>
    <div style="background-color: #ffdf01;">i</div>
<% console.log(currentUser.password) %>
    <%- include ('../partials/footer') %>