<div class="container">
    <nav class="navbar navbar-expand-md navbar-light">
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav text-center">
                <li class="nav-link">
                    Cars
                </li>
                <li class="nav-link">
                    Motorcycles
                </li>
                <li class="nav-link">
                    Tricycles
                </li>
                <li class="nav-link">
                    Buses
                </li>
            </ul>
        </div>
    </nav>
</div>